<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png"/>

    <script defer src="/fontawesome/js/brands.js"></script>
    <script defer src="/fontawesome/js/solid.js"></script>
    <script defer src="/fontawesome/js/fontawesome.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            /* background: linear-gradient(45deg, white, transparent); */
            background: #dcdcdc59;
        }

        #container {
            position: relative;
        }

        #bg-img {
            max-width: 99%;
            max-height: 100vh;
            height: auto;
        }

        .icon {
            position: absolute;
            right: 50%;
            bottom: 7%;
            font-size: xxx-large;
        }

        #count_days {
            position: absolute;
            bottom: 59%;
            right: 21%;
            font-weight: bold;
            font-size: 6rem;
        }

        @media(max-width: 992px) {
            .icon {
                font-size: 2rem;
            }
            #count_days {
                font-size: 3.9rem;
            }
        }

        @media(max-width: 768px) {
            .icon {
                font-size: 1.3rem;
            }
            #count_days {
                font-size: 3rem;
            }
        }
    </style>
  </head>
  <body>
    <div id="container">
        <img id="bg-img" src="/images/hua.png" alt="">
        <span id="count_days"><%= countDownDays %></span>
        <a class="icon" style="right: 10%; bottom: 53.5%;" href="https://www.instagram.com/ncufresh/"><i class="fab fa-instagram "></i></a>
        <a class="icon" style="right: 4.2%; bottom: 53.5%;" href="https://www.facebook.com/ncufreshweb"><i class="fab fa-facebook "></i></a>
    </div>
  </body>
</html>
